<div class="normal-signup col-md-4 col-sm-8">
  <h2 class="pop-header mb-5">Create new account</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="errors-signup msg"></div>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
              required: true,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "off" } %>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
       <%= f.button :submit, "Sign Up", class:"pop-header mt-4" %>
    </div>
  <% end %>

  <span>
    OR
    <%= link_to user_linkedin_omniauth_authorize_path, id: "social-media-signup" do %>
      Sign up via LinkedIn <i class="fab fa-linkedin"></i>
    <% end %>
  </span>
</div>
