<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="truncateDataModalTitle">Algorithm: Truncate Data</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="modal-2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="headerSpacesModalTitle">Algorithm: Header Spaces</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-3" tabindex="-1" role="dialog" aria-labelledby="modal-3Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="newLinesModalTitle">Algorithm: New Lines</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-4" tabindex="-1" role="dialog" aria-labelledby="modal-4Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="overUnderModalTitle">Algorithm: Over Under</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-5" tabindex="-1" role="dialog" aria-labelledby="modal-5Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="reportFormatModalTitle">Algorithm: Report Format</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-6" tabindex="-1" role="dialog" aria-labelledby="modal-6Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="sharedColumnModalTitle">Algorithm: Shared Column</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-7" tabindex="-1" role="dialog" aria-labelledby="modal-7Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="removeSymbolModalTitle">Algorithm: Remove Symbol</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-8" tabindex="-1" role="dialog" aria-labelledby="modal-8Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="whiteSpaceModalTitle">Algorithm: White Space</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

