<div class="container about">
  <div class="extra-container-margin">
  
  </div>	
  <h1>About</h1>
  
    <div class="row h-100">
		<div class="section1 d-flex flex-row　mt-5">	
			<div class="col-lg-6 col-md-6 col-sm-12 section1_description home-main-tile">
				<h2>-Powerful Tool-</h2>
				<p>Why CSV cleaner makes your work more productive?For the "real" professionals, this is the appropriate one for your daily tasks.Maecenas id velit eget quam molestie congue non at justo. Ut sit amet lacus urna. Donec pellentesque blandit neque, at sodales eros venenatis ut.Vivamus lorem enim, tristique a nibh sit amet, fringilla accumsan turpis. Fusce ut purus consectetur, cursus tellus id, suscipit lectus.Aliquam dapibus diam id nunc vehicula maximus. Nunc vitae vulputate libero, in lacinia urna. Vivamus placerat velit nec lobortis elementum. Suspendisse in porta diam, eu tincidunt lorem. Proin at odio semper, mollis sapien at, fringilla diam. Phasellus nec magna cursus dolor commodo convallis lacinia in velit. </p>
				<h4>For the real professonals,to be more smart</h4>
			</div>
			<div class=" my-auto col-lg-6 col-md-6 d-none d-sm-block image_section1">
				<%= image_tag('section1.jpg') %>
			</div>
		</div>    
	</div>
   
    <div class="row h-100">
	    <div class="section2 d-flex flex-row mt-5">	    
			<div class="my-auto col-lg-6 col-md-6 d-none d-sm-block">
				<%= image_tag('section2.jpg') %>
 			</div>			  
			<div class="col-lg-6 col-md-6 col-sm-12 h-100 section2_description home-main-tile">
				<h2>-Faster,Handy,Safety-</h2>
				<p>Feel this,not think.You can not only feel its, handiness just a click and drug & drop in the deadline-driven situation, but also will be free from manual data cleaning which is time consuming.Just focus on your real work and put your time into more value-added task.Nulla aliquam sem sit amet libero fringilla ultrices. Curabitur ac eros et dolor gravida mattis. Vivamus porttitor mauris ut lacinia gravida.Aliquam dapibus diam id nunc vehicula maximus. Nunc vitae vulputate libero, in lacinia urna. Vivamus placerat velit nec lobortis elementum. Suspendisse in porta diam, eu tincidunt lorem. Proin at odio semper, mollis sapien at, fringilla diam. Phasellus nec magna cursus dolor commodo convallis lacinia in velit. </p>
				<h4>For important decision with completely clean data.</h4>
			</div>	
		</div>
    </div>

    <div class ="row h-100">
	    <div class ="section3 mt-5 mb-5"> 
					  <div class="section_discription">				      
						<h3>Learn more about our team!</h3>
					  </div>	

				<div class="card-deck">
					<div class="card">
						<%= image_tag'person1.jpg',class:"card-img-top"	%>
						<div class="card-body">
							<h6 class="card-title">Sisi Frolensia</h6>
							<p class="card-text">Civil engineering specialist</p>
					    </div>
						<div class="card-footer">
							<a href="https://www.linkedin.com/in/sisi-florensia-8738b515/" target="_blank" class="btn btn-primary">LEARN MORE</a>
						</div>
				    </div>

					<div class="card">
						<%= image_tag'person2.jpg',class:"card-img-top" %>
						<div class="card-body">
							<h6 class="card-title">Ryan Ashton</h6>
							<p class="card-text">Data specialist</p>
						</div>
						<div class="card-footer">
							<a href="https://au.linkedin.com/in/ryan-mark-ashton" target="_blank" class="btn btn-primary">LEARN MORE</a>
						</div>
					</div>

					<div class="card">					
						<%= image_tag'person3.jpg',class:"card-img-top" %>
						<div class="card-body">
							<h6 class="card-title">Sebastian Bausch</h6>
							<p class="card-text">Security specialist</p>
						</div>
						<div class="card-footer">
							<a href="https://www.linkedin.com/in/sbausch" target="_blank" class="btn btn-primary">LEARN MORE</a>
						</div>
					</div>

					<div class="card">				
						<%= image_tag'person4.jpg' ,class:"card-img-top" %>
						<div class="card-body">
							<h6 class="card-title">Keiichi Fujimaki</h6>
							<p class="card-text">SCM specialist</p>
						</div>
						<div class="card-footer">
							<a href="https://www.linkedin.com/in/keiichi-fujimaki-1a2445191/" target="_blank" class="btn btn-primary">LEARN MORE</a>
						</div>
					</div>
				</div>			   
        </div>
    </div>
</div>