<!-- <div id="particles-js"></div> -->

<div class="container home-grid">
  <% if @task.nil?  %>
    <div class="row justify-content-between align-items-center" id="download-box">
      <div class="col-md-9 d-none d-md-block">
        <h1 id="home-header">You haven't use any of our algorithm</h1>
        <p>Start by uploading a CSV data you want to clean, and see what's gonna happen in a click.</p>
      </div>
      <div class="col-md-3 col-sm-12 text-center"> <!-- How to make it invisible on the sm device -->
        <%= link_to root_path, class: "prompt"  do %>
          <p>Give it a try!</p>
        <% end %>
        <!-- Once downloaded, change the icon with rating prompts? Javascript? -->
      </div>
    </div>
  <% elsif @task.file.attached? && @task.feedback.nil?%>
    <div class="row justify-content-between align-items-center" id="download-box">
      <div class="col-md-8 d-none d-md-block">
        <h1 id="home-header">Download your clean data here</h1>
        <p>Make sure you save it to your computer, since we are not going to keep your file.</p>
      </div>
      <% if !@task.downloaded %>
        <div class="col-md-4 col-sm-12 text-center my-1" id="download-icon"> <!-- How to make it invisible on the sm device -->
          <%= link_to download_path(@task), method: :post, id: "downloader" do %>
            <i class="fas fa-download"></i>
            <div id="filename"><%= @task.file.blob.filename %></div>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-12 text-center my-1" id="rating-js">
          <!-- Once downloaded, change the icon with rating prompts? -->
          <p class="d-none" id="rating-text">How was your experience using <strong><%= @task.algorithm.name %></strong> algorithm?</p>
          <%= simple_form_for([@task, @feedback], html: { class: "feedback_form rating-form d-none mx-auto", id: "rating-stars" }) do |f| %>
            <%= f.input :rating, collection: (1..5).to_a, label: false %>
            <%= f.submit class: "d-none" %>
          <% end %>
        </div>
      <% else %>
        <div class="col-md-4 col-sm-12 text-center my-1">
          <p id="rating-text">How was your experience using <strong><%= @task.algorithm.name %></strong> algorithm?</p>
          <%= simple_form_for([@task, @feedback], html: { class: "feedback_form rating-form mx-auto", id: "rating-stars" }) do |f| %>
            <%= f.input :rating, collection: (1..5).to_a, label: false %>
            <%= f.submit class: "d-none" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="row justify-content-between" id="dash-main-card">
    <div class="col-lg-4 col-md-12">
      <div class="graph-card">
        Number of uploads
        Github contribution style? How?
      </div>
      <div class="graph-card">
        History of total size of file uploaded w/ threshold
      </div>
    </div>
    <div class="col-lg-8 col-md-4">
      <div class="pie-chart">
        Pie chart of algorithm most used by all users
      </div>
      <div class="col-12">
        <% unless @task.nil?  %>
          <h3>Your most used algorithms</h3>
          <!-- Replace skeleton below with working code: -->
          <% counter = Hash.new 0 %>
          <% @user_tasks.each { |task| counter[task.algorithm.name] += 1} %>
          <% algorithm_rank = counter.sort_by { |_,v| -v } %>
          <% total_tasks = algorithm_rank.map { |element| element[1]} %>
          <% total = total_tasks.reduce(:+) %>
          <% algorithm_rank.first(3).to_h.each do |key, value| %>
            <div class="row algorithm-list">
              <div class="col-md-1 d-none d-sm-block text-left mx-1">
                <%= (value.fdiv(total) * 100).ceil() %>%
              </div>
              <div class="col-md-5 col-sm-12 text-left mx-1">
                <%= key %>
              </div>
              <div class="col-md-5 d-none d-md-block mx-2 text-right align-items-center">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Script to run live rating -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="jquery.barrating.min.js"></script>
<!-- <script type="text/javascript">
   $(function() {
      $('#example').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script> -->
