<div id="particles-js"></div>



<div class="container home-grid">
  <div class="row justify-content-between align-items-end">
    <div class="d-flex col-lg-6 col-md-12">
      <h1 id="home-header">Let us handle those messy files for you</h1>
    </div>
    <div class="col-lg-6 d-none d-lg-block text-right"> <!-- How to make it invisible on the sm device -->
      <h2 id="csv-counter">#<%= @files_counter %></h2>
      <p>CSV files have been cleaned to date</p>
    </div>
  </div>



  <div class="row justify-content-between my-4">
    <div class="col-md-4 col-sm-12 d-none d-sm-block home-main-tile">
      <h2 class="mb-2">How to use:</h2>
      <ol class="font-size-up">
        <li>Select the algorithm you want to run</li>
        <li>Upload your CSV file</li>
        <li>Download clean CSV file in your dashboard</li>
      </ol>
      <ul class="security-text">
        <h3>Your data is secured</h3>
        <li>We never keep your file.</li>
        <br>
        <li>Read our privacy policy <strong><a href="#" class=>here</a></strong></li>
      </ul>
    </div>
    <div class="row col-md-8 col-sm-12 tiles-wrapper justify-content-around ml-0">
      <div class="row justify-content-between align-items-start w-100 mb-2">
        <div class="col-3 home-secondary-tile text-center" data-id="1" id="tile-1">
          <div class="algorithm-icon">
            <i class="fas fa-compress-arrows-alt"></i>
          </div>
          Truncate Data
        </div>
        <div class="col-3 home-secondary-tile text-center" data-id="2" id="tile-2">
          <div class="algorithm-icon">
            <i class="fas fa-angle-double-right"></i>
          </div>
          Header Spaces
        </div>
        <div class="col-3 home-secondary-tile text-center" data-id="3" id="tile-3">
          <div class="algorithm-icon">
            <i class="fas fa-stream"></i>
          </div>
          New Lines
        </div>
      </div>
      <div class="row w-100">
        <div class="col-12 tile-body justify-content-between align-items-center"  id="collapse-1">
          <p class="desc"><strong>Truncate Data</strong> algorithm will remove random empty rows from dataset</p>
          <a type="button" class=" modal-form-btn upload_icon" data-id="1" data-name="Truncate Data" data-toggle="modal" data-target="#formModal">
            <%= render 'shared/upload_icon' %>
          </a>
        </div>
        <div class="col-12 tile-body justify-content-between align-items-center" id="collapse-2">
          <p class="desc"><strong>Header Spaces</strong> algorithm will remove spaces out of the headers.</p>
          <a type="button" class=" modal-form-btn upload_icon" data-id="2" data-name="Header Spaces" data-toggle="modal" data-target="#formModal">
            <%= render 'shared/upload_icon' %>
          </a>
        </div>
        <div class="col-12 tile-body justify-content-between align-items-center" id="collapse-3">
          <p class="desc"><strong>New Lines</strong> algorithm will remove new lines out of a cell.</p>
          <a type="button" class=" modal-form-btn upload_icon" data-id="3"  data-name="New Lines" data-toggle="modal" data-target="#formModal">
            <%= render 'shared/upload_icon' %>
          </a>
        </div>
      </div>
      <div class="row justify-content-between align-items-center w-100 my-3">
        <div class="col-3 home-secondary-tile text-center" data-id="4" id="#tile-4">
          <div class="algorithm-icon">
            <i class="fab fa-slack-hash"></i>
          </div>
          Remove Symbols
        </div>
        <div class="col-3 home-secondary-tile text-center" data-id="5" id="#tile-5">
          <div class="algorithm-icon">
            <i class="fas fa-eraser"></i>
          </div>
          White Space
        </div>
        <div class="col-3 home-secondary-tile text-center" data-id="6" id="#tile-6">
          <div class="algorithm-icon">
            <i class="fas fa-retweet"></i>
          </div>
          Over Under
        </div>
      </div>
      <div class="row w-100">
        <div class="col-12 tile-body justify-content-between align-items-center" id="collapse-4">
          <p class="desc">Data often gets messy by adding random symbols in the cells, <strong>Remove Symbols</strong> algorithm will remove all of that and just keep the text.</p>
          <a type="button" class=" modal-form-btn upload_icon" data-id="4" data-name="Remove Symbols" data-toggle="modal" data-target="#formModal">
            <%= render 'shared/upload_icon' %>
          </a>
        </div>
        <div class="col-12 tile-body justify-content-between align-items-center" id="collapse-5">
          <p class="desc">If you have white space around the data in the columns, <strong>White Space</strong> algorithm will remove it.</p>
          <a type="button" class=" modal-form-btn upload_icon" data-id="5" data-name="White Space" data-toggle="modal" data-target="#formModal">
            <%= render 'shared/upload_icon' %>
          </a>
        </div>
        <div class="col-12 tile-body justify-content-between align-items-center" id="collapse-6">
          <p class="desc"><strong>Over Under</strong> algorithm will repeatedly move the 2nd row into a new 2nd column.</p>
          <a type="button" class=" modal-form-btn upload_icon" data-id="6"  data-name="Over Under" data-toggle="modal" data-target="#formModal">
            <%= render 'shared/upload_icon' %>
          </a>
        </div>
      </div>
      <div class="row  justify-content-between align-items-end w-100 mt-2">
        <div class="col-3 home-secondary-tile text-center" data-id="7" id="#tile-7">
          <div class="algorithm-icon">
            <i class="fas fa-braille"></i>
          </div>
          Shared Column
        </div>
        <div class="col-3 home-secondary-tile text-center" data-id="8" id="#tile-8">
          <div class="algorithm-icon">
            <i class="far fa-chart-bar"></i>
          </div>
          Report Format
        </div>
        <div class="col-3 home-secondary-tile text-center last-tile">
          <div class="algorithm-icon">
            <i class="fas fa-share-square"></i>
          </div>
          Share our page
        </div>
      </div>
      <div class="row w-100">
        <div class="col-12 tile-body justify-content-between align-items-center" id="collapse-7">
          <p class="desc"><strong>Shared Column</strong> algorithm will take what is in one column and split it out into seperate columns by a seperator.</p>
          <a type="button" class=" modal-form-btn upload_icon" data-id="7" data-name="Shared Column" data-toggle="modal" data-target="#formModal">
            <%= render 'shared/upload_icon' %>
          </a>
        </div>
        <div class="col-12 tile-body justify-content-between align-items-center" id="collapse-8">
          <p class="desc"><strong>Report Format</strong> algorithm will rearrange your report into a dataset you can model from.</p>
          <a type="button" class=" modal-form-btn upload_icon" data-id="8" data-name="Report Format" data-toggle="modal" data-target="#formModal">
            <%= render 'shared/upload_icon' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="modal-1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-4">
      <div class="modal-header">
        <h3 class="modal-title mb-5" id="truncateDataModalTitle">Algorithm: <span id="modal-title"></span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'shared/modal_file_uploader' %>
    </div>
  </div>
</div>

<script>
 const buttons = document.querySelectorAll('.modal-form-btn')
 const input = document.querySelector("#task_algorithm")
 const modalTitle = document.querySelector('#modal-title')
 buttons.forEach((btn) => {
   btn.addEventListener('click', (e)=>{
      const title = e.currentTarget.dataset.name
      const id =  e.currentTarget.dataset.id
      console.log(title)
      modalTitle.innerText = title
      input.value= id
   })
 })
</script>
