<!DOCTYPE html>
<html>
  <head>
<meta charset="UTF-8">
    <title>CSV Cleaner | Simplest Way to Clean Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<!--     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
 -->    <!-- <link rel="stylesheet" href="fontawesome-stars.css"> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="flex-wrapper">
      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/flashes' %>
      <%= render 'shared/footer' %>

    <!-- Load Javascript file last -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%#= javascript_include_tag 'particles' %>
  </body>
</html>
